.fordform {
    display: block;
    width: 300px; 
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px; 
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px; 
    height: 36px; 
    color: #807d7d;
}


textarea.fordform {
    height: auto; 
    min-height: 150px; }

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}

button {
    width: 300px; 
    height: 40px;
    display: block;     margin-top: 15px; 
    margin-bottom: 8px; 
    margin-left: 8px; 
    margin-right: 8px; 
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.titulo {
    margin-left: 8px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-left: 8px;
    display: block;
    height: 15px; 
}

textarea { 
    resize: none;
    padding: 12px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
}
  